html, body, main, section, div, canvas, svg {
    margin: 0;
    padding: 0;
}

#source-img {
    max-width: 49%;
}

#mosaic-img {
    position: absolute;
    top: 20px;
    left: 50%;
}

#source-img, #mosaic-img {
    display: inline-block;
}

#mosaic-img p {
    margin: 0;
    padding: 0;
    display: none;
}

svg {
    border: 0;
    float: left;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
