html, body, main, section, div, canvas, svg {
    margin: 0;
    padding: 0;
}

#source-img {
    max-width: 49%;
}

#source-img, #mosaic-img {
    display: inline-block;
}

svg {
    border: 0;
    float: left;
}
