<h1>Register form</h1>
<form-element label="Register!">
    <section>    
        <h2>1. Please enter your favourite colour</h2>
        <input type="radio" value="black" name="colorPicker">
        <input type="radio" value="yellow" name="colorPicker">
        <input type="radio" value="orange" name="colorPicker">
        <input type="radio" value="green" name="colorPicker">
        <input type="radio" value="blue" name="colorPicker">
    </section>

    <section>
        <h2>2. Enter your email address</h2>
        <input type="text" value="">
    </section>
</form-element>